:root {
    /* --light:#E1EEE0; */
    /* --light:rgb(201, 255, 217); */
    --light:rgb(167, 221, 182);
    /* --med-green: #9bba99; */
    --med: rgb(118, 178, 134);
    /* --dark-green: #415840; */
    --dark: rgb(34, 73, 49);
}

html {
  scroll-behavior: smooth;
}

h1 {
    font-family: 'Azeret Mono', monospace;
    font-weight: bold;
    font-size: 50px;
    color: black;
}
h2 {
    font-family: 'Azeret Mono', monospace;
    font-size: 20px;
}

p {
    font-family: 'Azeret Mono', monospace;
    font-size: 20px;
}

.container {
    position: relative;
    text-align: center;
    /* left: 350px; */
    padding: 0;
    /* margin-top: 200px; */
    width: 100%;
    /* background-color: yellow; */
    /* border: 1px black; */
    top: 200px;
}

.left-element {
    /* background: green; */
    display: inline-block;
    /* float: left; */
    padding: 30px;
    margin: 0 auto;
    /* background-color: blue; */
}

.right-element {
    /* background: red; */
    display: inline-block;
    /* margin-left: 0px; */
    text-align: center;
    padding: 30px;
    width: 200px;
    top: 0px;
    /* float: left; */
    margin: 0 auto;
    position: relative;
    /* background-color: red; */
}

/* .artbox1 {
  width: 200px;
  height: 50px;
  background-color: var(--light);
  margin-top: 30px;
  margin-left: 30px;
  opacity: 30%;
  position: absolute;
}
.circleBase {
  border-radius: 50%;
  behavior: url(PIE.htc); 
  position: absolute;
  margin-left: -10px;
}
.type1 {
  width: 220px;
  height: 220px;
  background: var(--light);
  opacity: 20%;
} */
/* .artbox2 {
  width: 50px;
  height: 50px;
  background-color: var(--light);
  margin-top: -10px;
  margin-left: -30px;
  opacity: 30%;
  position: absolute;
}
.artbox3 {
  width: 50px;
  height: 50px;
  background-color: var(--light);
  margin-top: 0px;
  margin-left: -40px;
  opacity: 30%;
  position: absolute;
} */
.link {
    z-index: 20;
    text-decoration: underline;
    color: var(--dark);
    background: linear-gradient(to right, var(--light), var(--light) 50%, var(--med) 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 275ms ease;
}
.link:hover {
    background-position: 0 100%;
}

.overlap {
  position: absolute;
  top: 0px;
  left: 0px;
  margin: 0px;
}

.underline {
  color: white;
  text-decoration: underline;
  text-decoration-color: var(--med);
  z-index: 0;
}


.cvbody{
  /* max-width: 600px; */
  width: 83.333%;
  height: auto;
  margin: 0 auto;

}
@media (min-width: 1200px) {
  /* Adjust styles for larger screens */
  .cvbody {
    width: 1000px; /* Fixed width for larger screens */
  }
}

.cvcontainer{
  width: 100%;
  height: auto;
  border:1px solid black;
  margin: 0 auto;
}
.headercontainer{
  width: 100%;
  text-align: left;
  padding: 200px;
  margin: 0 auto;
  padding: 0px;
  /* background-color: black; */
  /* border:1px solid black; */
  overflow: auto;
}


table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: none; /* Remove borders from cells */
  padding: 15px;
  text-align: left;
  font-family: 'Azeret Mono', monospace;
}

tr {
  position: relative;
  overflow: hidden;
  background: linear-gradient(to right, transparent 50%, var(--light) 50%);
  background-size: 200% 100%;
  transition: background-position 0.5s;
  border-bottom: 1px solid black; /* Add a bottom border for rows */
  font-family: 'Azeret Mono', monospace;
  vertical-align: top;
}

tr:hover {
  background-position: -100% 0;
  
}

#cv-title{
  font-weight: 1000;
  font-size: 18px;
}
#cv-info{
  font-style:italic;
  font-size: 12px;
}

#boldtext{
  font-weight: 1000;
}

#italicstext{
  font-style:italic;
}

.navbar {
  backdrop-filter: blur(10px); /* Blur the content behind the navbar */
  text-align: center;
  background: transparent;
  backdrop-filter: blur(10px);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  padding: 20px;
  
  border-bottom: 1px solid black; /* Add a bottom border for rows */
  /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);  */
  background: linear-gradient(to bottom, transparent 50%, var(--med) 50%);
  background-size: 100% 200%;
  transition: background-position 0.5s;
}

.navbar a {
  text-decoration: none;
  color: black;
  margin: 0 50px;
  font-family: 'Azeret Mono', monospace;
  /* width: 300px; */
  z-index: 20;
  text-decoration: underline;
  color: black;
  background: linear-gradient(to right, white, white 50%, black 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 275ms ease;
  
}

a:hover {
  background-position: 0 100%;
}

.navbar:hover{
  /* background-color:#FCC; */
  background-position: 0% 100%;

}

.fade-in-section {
  opacity: 0;
  transform: translateY(20vh);
  visibility: hidden;
  transition: opacity 0.6s ease-out, transform 1.2s ease-out;
  will-change: opacity, visibility;
}
.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}

.anchor {
  position: absolute;
  top: -80px; /* given the fixed header is 50px tall, and you want 15px padding */
  left: 0px;
}

.recolor {
  color: var(--med);
  /* font-size: 90px; */
}


#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -76px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:1 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:1 } 
  to{ bottom:0; opacity:1 }
  /* 0% {
    
  } */
}

#myDiv {
  display: none;
  text-align: center;
}

.contactbox{
  width: 300px;
  margin: 0 auto;
}

.contactlink {
  width: 250px;
  margin: 0 auto;
  /* padding: 10px; */
  height: 35px;
  line-height:35px;
  /* position: absolute;
  top: 60px; */
  margin-top: 20px;
  text-align: center;
  font-family: 'Azeret Mono', monospace;
  font-size: 13px;
  border: 1px solid black;
  background: linear-gradient(to right, transparent 50%, var(--light) 50%);
  background-size: 200% 100%;
  transition: background-position 0.5s, font-size 0.3s ease;
}

.contactlink:hover {
  background-position: -100% 0;
  font-size: 15px;
}

.contacttitle{
  font-family: 'Azeret Mono', monospace;
  font-size: 14px;
  font-weight: bold;
  width: 250px;
  margin: 0 auto;
}